In [37]:
import pandas as pd
import requests

In [173]:

params = {'outputsize':'full', 'extended_hours':'false', 'apikey':'IFBBUTAZ8NWO52MF', 'interval':'60min',
          'function':'TIME_SERIES_INTRADAY', 'symbol':'AAPL', 'month':'2025-03'}

url = 'https://www.alphavantage.co/query'
r = requests.get(url, params =params)
data = r.json()

In [175]:
df = pd.DataFrame(data['Time Series (60min)']).T.reset_index()
df['company'] = data['Meta Data']['2. Symbol']

df.rename(columns= {'index': 'date', '1. open': 'open_price', '2. high': 'high_price', '3. low': 'low_price', 
'4. close': 'close_price', '5. volume': 'volume'}, inplace = True)

In [177]:
df

,date,open_price,high_price,low_price,close_price,volume,company
0,2025-03-31 15:00:00,220.5700,225.6200,220.5500,221.9950,13747089,AAPL
1,2025-03-31 14:00:00,219.4900,221.2100,219.4550,220.5800,3432735,AAPL
2,2025-03-31 13:00:00,220.0900,220.7600,219.2400,219.4900,2666461,AAPL
3,2025-03-31 12:00:00,220.3600,221.0200,219.5600,220.1000,3195593,AAPL
4,2025-03-31 11:00:00,219.2800,220.5800,218.8852,220.3500,4599203,AAPL
...,...,...,...,...,...,...,...
121,2025-03-03 14:00:00,241.3100,242.0200,239.8800,240.2900,3501935,AAPL
122,2025-03-03 13:00:00,242.3100,242.3600,240.4400,241.3200,3802571,AAPL
123,2025-03-03 12:00:00,241.8100,242.9900,240.9464,242.3300,2510602,AAPL
124,2025-03-03 11:00:00,241.2300,242.6300,240.6650,241.8150,3209644,AAPL
125,2025-03-03 10:00:00,240.8400,242.4700,239.8250,241.2000,5078665,AAPL

In [155]:
#df.to_csv('StockData.csv')

In [147]:
import os

In [153]:
os.getcwd()

'C:\\Users\\Motunrayo'